---
import PresosPreview from './PresosPreview.astro'
const { posts } = Astro.props
---
<section class="media-preview__list">
    {posts.map((post) => (
        <h2 class="dark:text-white">{post.name}</h2>
        <>{post.presentations.map((preso) => (
            <PresosPreview post={preso}/>
        ))}</>
    ))}
</section>
<style>
    .media-preview__list {
        @apply flex flex-col gap-12
    }
    .media-preview__list h2 {
        font-size: 1.5em;
        font-weight: 800;
    }
</style>
